.btn{
    color: white;
    font-family: Tahoma;
    font-size: 24px;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
}
.btn-orange{
    background: linear-gradient(to top, #b07f00 0%, #f3af00 100%);
}
.underline{
    text-decoration: underline;
}
.big-orange{
    font-size: 24px;
    color: #f3af00;
}
.site-header{
    background-color: #3f4142;
    padding: 13px 0;
}
.header-box{
    margin-bottom: 20px;
    text-align: center;
}
.header-logo{

}
.header-info{
    color: white;
    font-size: 0px;
}
.info-icon{
    background: url("../img/sprite.png") -62px -577px no-repeat;
    display: inline-block;
    padding-left: 15px;
    width: 13px;
    height: 12px;
    vertical-align: middle;
}
.info-text{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}