.btn{
    color: white;
    font-family: Tahoma;
    font-size: 24px;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    box-sizing: border-box;
}
.site-container{
    margin: 0 auto;
    max-width: 1000px;
}
.row:after{
    content: '';
    display: block;
    clear: both;
}
.col{
    float: left;
    box-sizing: border-box;
    padding: 0 5px;
}
.col img{
    margin-bottom: 15px;
}

.btn-orange{
    background: linear-gradient(to top, #b07f00 0%, #f3af00 100%);
}
.underline{
    text-decoration: underline;
}
.big-orange{
    font-size: 24px;
    color: #f3af00;
}
.site-header{
    background-color: #3f4142;
    padding: 13px 0;
}
.header-box{
    margin-bottom: 20px;
    text-align: center;
}
.header-info{
    color: white;
    font-size: 0px;
}
.info-icon{
    background: url("../img/sprite.png") -62px -577px no-repeat;
    display: inline-block;
    padding-left: 15px;
    width: 13px;
    height: 12px;
    vertical-align: middle;
}
.info-text{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
.section-title{
    font-family: Verdana;
    font-size: 36px;
    color: #3b3d3e;
    padding-bottom: 75px;
    padding-top: 35px;
}
.s4{
    width: 50%;
}
.about-us{
    background-color: #d1d1d1;
    text-align: center;
    color: #3b3d3e;
    margin-top: 34px;
    padding: 36px 36px 17px 40px;
}
.about-us p{
    text-align: left;
    font-family: Verdana;
    font-size: 24px;
    /*margin-right: 5%;*/
    margin-bottom: 34px;
}
.about-us p:last-child{
    /*margin-right: 0;*/
}
/*.comment{*/
    /*width: 100%;*/
    /*height: 200px;*/
    /*background-color: red;*/
/*}*/
.section-sale-title{
    background-color: #949ba3;
    padding-top: 50px;
    padding-bottom: 40px;
}
.section-sale-title p{
    font-family: "Times New Roman";
    font-size: 48px;
    color: white;
    text-align: center;
}
.sale-title{
    margin-bottom: 20px;
}
.section-sale-title .main-description{
    font-size: 30px;
}
.form{
    padding: 15px 10px;
}
.form-baner .site-container{
    background-color: #4a4d51;
    /*padding: 15px 10px 15px 50px;*/
    /*box-sizing: border-box;*/
}
.form-title{
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}
.form-firstp{
font-family: Verdana;
    font-size: 30px;
    color: #f3af00;
    margin-bottom: 30px;
}
.form-secondp{
    font-size: 18px;
    font-family: Verdana;
    color: white;
}
.form input{
    width: 100%;
    outline: none;
    border:none;
    background-color: #e4e4e4;
    padding: 14px 0 14px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
button.form-button{
    background: linear-gradient(to top, #e4e4e4 0%, #919191 100%);
    padding-top: 14px;
    width: 100%;
}
.promotion{
    display: none;
    font-family: Verdana;
    text-align: center;
    background-color: #949ba3;
    position: relative;
    padding-left: 20px;
    padding-bottom: 5px;
}
.promotion:after{
    display: none;
    content: '';
    position: absolute;
    top: 0px;
    right: -82px;
    width: 0;
    height: 0;
    border: 41px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.3);;
}
.promotion-p1{
    font-size: 48px;
    color: #f3af00;
}
.promotion-p2{
    font-size: 30px;
    color: white;
}
.promotion-text{
    display: inline-block;
    margin-right: 100px;
    vertical-align: middle;
}
#countbox{
    display: none;
    vertical-align: middle;
}
.countbox-num-item{
    width: 29px;
    height: 44px;
    background: url("../img/sprite.png");
    background-position: -3px -567px;
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    line-height: 44px;
    display: inline-block;
    border: black solid 1px;
    margin-right: 5px;
}
div.countbox-space{
    width: 5px;
    display: inline-block;
}
#countbox-days-text, #countbox-hours-text, #countbox-mins-text, #countbox-secs-text{
    color: white;
}
.countbox-num{
    display: inline-block;
}
.form-2{
    font-family: Verdana;
    color: white;
    text-align: center;
    background-color: #80807f;
    padding-top: 45px;
    display: none;
    margin-bottom: 42px;
}
div.form-2-input{
    font-size: 0;
    padding: 0 20px 60px 20px;
}
.form-2 .form-2-input>*{
  display: inline-block;
    width: 22%;
    margin-right: 3.4%;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    margin-bottom: 0;
}
div.form-2-input button.btn{
    margin-right: 0;
    vertical-align: bottom;
}
.form2-title1{
    font-size: 36px;
    margin-bottom: 25px;
}
.form2-title2{
    font-size: 18px;
    margin-bottom: 40px;
}
.form2-title2 span{
    color: #f3af00;
}
.form input{
    width: 100%;
    outline: none;
    border:none;
    background-color: #e4e4e4;
    padding: 14px 0 14px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
button.form-button{
    background: linear-gradient(to top, #e4e4e4 0%, #919191 100%);
    padding-top: 14px;
    width: 100%;
}
.reviews{
    font-size: 0;
}
.review-header{
    font-size: 48px;
    font-family: Verdana;
    text-align: center;
    display: block;
    margin-bottom: 60px;
}
.review-picture{
    padding-left: 32px;
    display: inline-block;
    margin-right: 45px;
    vertical-align: top;
    margin-bottom: 45px;
}
.review-item{

    background-color: #dddddd;
    width: 460px;
    padding-top: 20px;
    padding-right: 7px;
    box-sizing: border-box;
}
.review-padding-left{
    padding-left: 20px;
    display: inline-block;
    margin-right: 40px;
}
.review-padding-right{
    padding-right: 20px;
    display: inline-block;

}
.review-p{
    display: inline-block;
    width: 47%;
    vertical-align: top;
    text-align: center;
}
.review-p p{
    display: inline-block;
}
.review-person{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.review-person-info{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
}
.review-date{
    font-size: 16px;
    text-align: start;
}
.review-main{
    font-size: 14px;
    padding: 0 23px 27px 23px;
}
input::-moz-placeholder { color: black; font-size: 12px; font-family: Verdana; }
input::-webkit-input-placeholder { color: black; font-size: 12px; font-family: Verdana; }
@media screen and (min-width: 800px) {
    .section-sale-title{
        padding-top: 0px;
    }
    .section-sale-title .site-container{
        padding-bottom: 40px;
    }
    .sale-title{
        margin-bottom: 10px;
    }
    .btn{
        font-size: 18px;
        padding: 10px 50px;
    }
    header{
        font-size: 0;
    }
    .header-box{
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
    }
    .header-logo{
        width: 25%;;
    }
    .header-call{
        width: 50%;
    }
    .header-call .btn{
        width: 100%;
    }
    .header-info{
        width: 25%;
    }
    .m2{
        width: 25%;
    }
    .col{
        padding: 0 20px;
    }
    .about-us p{
        font-size: 14px;
    }
    .promotion{
        background: none;
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .baner-promotion-container{
        height: 341px;
        background: url("../img/banner.png");
        position: relative;
        border-bottom: 3px solid #3f4142;
    }
    .form-title{
        display: block;
        float: none;
        width: 100%;
    }
    .form {
        display: block;
        float: none;
        width: 100%;
    }

    .baner-promotion-container .row{
        width: 37.5%;
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 17px 15px 12px 15px;
        box-sizing: border-box;
    }
    .form-firstp {
        font-size: 24px;
        color: white;
        margin-bottom: 15px;
    }
    .form-secondp{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .form input{
        padding: 10px 0 10px 20px;
        margin-bottom: 5px;
    }
    #countbox{
        display: inline-block;
        }
    .promotion{
        display: inline-block;
    }
    .promotion:after{
        display: inline-block;
    }

    }
@media screen and (min-width: 1000px) {
    .header-call .btn{
        width: 250px;
    }
    .header-box{
        margin-bottom: 0;
    }
    .form-baner .site-container{
        background-color: white;
    }
    .baner-promotion-container{
        top: -40px;
        z-index: 2;
    }
    .form-2{
        display: block;
    }
}